/* components/Resources.module.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.container {
  width: 100%;
  padding: 50px 20px;
  color: #ffffff;
  background-color: var(--outer-core-background);
  position: relative;
  overflow: hidden;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-family: "Orbitron", sans-serif;
  color: var(--outer-core-bubble);
  text-shadow: 0 0 15px white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.headerIcon {
  font-size: 2.5rem;
  animation: pulse 2s infinite;
}

.resourceCategories {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.category {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(89, 66, 9, 0.683);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px;
  position: relative;
  backdrop-filter: blur(6px);
}

.category:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px var(--outer-core-bubble);
}

.categoryTitle {
  font-size: 2rem;
  margin-bottom: 15px;
  font-family: "Orbitron", sans-serif;
  color: var(--outer-core-bubble);
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryIcon {
  font-size: 1.5em;
  color: var(--outer-core-bubble);
  flex-shrink: 0;
}

.resourcesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resourceLink {
  color: black;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 10px rgba(89, 66, 9, 0.683);
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.resourceLink:hover {
  /* background: var(--outer-core-bubble); */
  /* color: var(--outer-core-background) !important; */
  /* transform: translateY(-10px); */
  box-shadow: 0 0 15px var(--outer-core-bubble);
  transform: translateX(5px);
}

.linkIcon {
  color: var(--outer-core-bubble);
  font-size: 1.2em;
}

.Icon:hover {
  font-size: 1.2em;
}

.linkText {
  flex-grow: 1; /* Allows text to take up remaining space */
  line-height: 1.2; /* Improved line height for better readability */
}

.linkIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0; 
}

@media (max-width: 768px) {
  .resourceCategories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    max-width: 100%;
  }

  .headerIcon {
    font-size: 2rem;
  }

  .categoryIcon {
    font-size: 1.5rem;
  }

  .categoryTitle {
    font-size: 1.5rem;
  }

  .linkIcon {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .categoryTitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .categoryHeader {
    gap: 8px;
  }

  .resourceLink {
    padding: 10px 12px;
  }

  .linkIconWrapper {
    width: 20px;
    height: 20px;
  }
}
